* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
  /* --enfasis-color: rgb(12, 150, 145) */
  --enfasis-color: rgb(12, 136, 160)
    /* --enfasis-color: #397d76 */
}

body {
  height: 100dvh;
  color: white;
  background: linear-gradient(to top,
      transparent,
      black) rgb(37, 36, 36);
}

a {
  color: inherit;
  text-decoration: none;
}

CodeBox {
  margin: 0;
}