.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  margin: auto;
  gap: 50px;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  /* flex-direction: column; */
}

.welcomeButtonsContainer {
  margin-top: 50px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.welcomeButtonsContainer>* {
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 1.5em;
  transition: all .3s;
  flex-grow: 1;
  text-align: center;
}

.getStartedButton {
  background-color: rgb(12, 136, 145);
}

.welcomeButtonsContainer>*:hover {
  background-color: rgb(12, 69, 134);
  box-shadow: 3px 3px 3px white;
}

.welcomeButtonsContainer>*:active {
  background-color: rgb(183, 207, 235);
}

.logo {
  position: relative;
}

.center p {
  font-size: 70px;
  padding: 20px;
  font-weight: bolder;

  display: flex;
  flex-direction: column;
}

.center span {
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
}

.welcomeText {

  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;

  max-width: 600px;
}

.center span::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--enfasis-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.center span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 530px) {
  .center {
    flex-direction: column;
  }

  .center p {
    text-shadow: 2px 2px 2px black;
  }

  .logo {
    position: absolute;
    z-index: -20;
    transform: scale(1.8);
  }
}