.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  margin: auto;
  gap: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcomeButtonsContainer {
  margin-top: 50px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.welcomeButtonsContainer>* {
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 1.5em;
  transition: all .3s;
}

.getStartedButton {
  background-color: rgb(12, 136, 145);
}

.welcomeButtonsContainer>*:hover {
  background-color: rgb(12, 69, 134);
  box-shadow: 3px 3px 3px white;
}

.welcomeButtonsContainer>*:active {
  background-color: rgb(183, 207, 235);
}

.logo {
  position: relative;
}

.center p {
  font-size: 70px;
  padding: 20px;
  font-weight: bolder;

  display: flex;
  flex-direction: column;
}

.center span {
  font-size: 15px;
}

.welcomeText {

  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;

  max-width: 600px;

}