.container {
  width: fit-content;
  max-width: 90%;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  cursor: pointer;
  margin: auto;
}

.element {
  display: flex;
  padding: 0.2em 2em;
  padding: auto;
  height: 3em;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  transition: all .3s;
  align-items: center;
}

.element:hover {
  transform: scale(1.1, 1.1);
}

.image {
  margin: 10px;
  height: 2em;
  float: left;
  margin-right: .8em;
}

@media (min-width: 1000px) {
  .container {
    font-size: 1em;
  }
}

@media (max-width: 1000px) {
  .container {
    font-size: 0.8em;
  }
}

@media (max-width: 600px) {
  .container {
    font-size: 0.6em;
  }
}